<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi sitio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fon
    t-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/385c30e284.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="header">
        <div class="logo-buscador">
            <img src="images\logo-mercado-liebre.svg" alt="" width="200" height="100">
            <form action=""><input class="buscador" type="search"
                    placeholder="Buscar productos, marcas y algo más."><button><i class="fas fa-search"></i></button>
            </form>
            <p class="p2"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <p class="p1"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>
            <ul class="user">
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="main">
        <img class="banner" src="images\img-home-banner.jpg" alt="" width="400" height="200">
        <h2 class="titulares">Basado en tu última visita</h2>
        <section class="sec-articulos">

            <article class="article">
                <img src="images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                <h6 class="descripcion">Cafetera Moulinex</h6>
            </article>
            <article class="article">
                <img src="images\img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <h6 class="descripcion">MacBook Pro 2019</h6>
            </article>
            <article class="article">
                <img src="img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
                <h6 class="descripcion">Samsung Galaxy S10</h6>
            </article>
            <article class="article">
                <img src="images\img-tv-samsung-smart.jpg" alt="imagen de SmartTv" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                <h6 class="descripcion">SmartTv Samsung 43"</h6>
            </article>
        </section>
        <h2 class="titulares">Sección de Ofertas</h2>
        <section class="sec-articulos">

            <article class="article">
                <img src="images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                <h6 class="descripcion">Cafetera Moulinex</h6>
            </article>
            <article class="article">
                <img src="images\img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <h6 class="descripcion">MacBook Pro 2019</h6>
            </article>
            <article class="article">
                <img src="img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
                <h6 class="descripcion">Samsung Galaxy S10</h6>
            </article>
            <article class="article">
                <img src="images\img-tv-samsung-smart.jpg" alt="imagen de SmartTv" width="230" height="300">
                <div class="truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="detalle-compra">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                <h6 class="descripcion">SmartTv Samsung 43"</h6>
            </article>
        </section>
    </main>

    <footer class="footer">
        <section class="foot">
            <i class="fas fa-credit-card"></i>
            <h5 class="title">Pagá con tarjeta o en efectivo</h5>
            <h6 class="info">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</h6>
        </section>
        <section class="foot">
            <i class="fas fa-gift"></i>
            <h5 class="title">Envío gratis desde $ 2.500</h5>
            <h6 class="info">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </h6>
        </section>
        <section class="foot">
            <i class="fas fa-user-shield"></i>
            <h5 class="title">Seguridad, de principio a fin</h5>
            <h6 class="info">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer
                porque estás siempre protegid@.</h6>
        </section>
        <section>
            <h5 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
    </footer>
</body>

</html>